---
import Layout from "../layout/layout.astro";
import Title from "../components/title.astro";
import Atras from "../components/atras.astro";
---

<Layout>
  <Atras/>
    <Title titleName='Switch page'/>
  <section style="view-transition-name: box2" class="flex flex-col text-center border h-[280px] w-[600px] rounded-xl p-10 border-black">
    <h2
    class="text-7xl"
    style="view-transition-name: switch">Card</h2><br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi molestias sit eligendi error rerum, maxime, totam rem, magnam atque laborum veritatis hic inventore facilis ipsam. Numquam animi exercitationem consectetur ab.</p>
  </section>
</Layout>
<style>

</style>
<script>
</script>