<a href="/" class="fixed left-0 top-0 py-1 px-5 border rounded border-black m-5 bg-gray-200 hover:bg-teal-500 hover:text-white active:translate-y-1 select-none">atrás</a>

<style>
  a{
    box-shadow: inset 3px 3px 0px 1px rgb(255, 255, 255);

  }
  a:hover{
    box-shadow: 3px 3px 0px 1px rgb(26, 26, 26);
  }
</style>